<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/loader.js' %}"></script>
    <title>Timestamp microservice</title>
</head>
<body>
    <div class="container">
        <h1 class="header">
            Timestamp microservice
        </h1>
        <p>
        You can convert timestamp into natural date representation (e.g. <strong>January 1, 2016</strong>) and vice versa.
        </p>
        <div>
                <label for="tst_param">Enter the date/timestamp:</label></br>
                <input type="text" id="timestamp_param"><br>
                <button onclick="queryDates()">Convert</button>
                <p id="unix"></p>
                <p id="natural"></p>
        </div>
        <h3>You can also do this through the API</h3>
        <blockquote>
            API usage instructions:
            <ul>1) You need to pass a string parameter in URL({{ site_url}}<em><strong>_parameter_</strong></em>/), 
                and it will check to see whether that string contains either a unix timestamp or a natural language 
                date (e.g. January 1, 2016)</ul>
            <ul>2) If it does, it returns both the Unix timestamp and the natural language form of that date.</ul>
            <ul>3) If it does not contain a date or Unix timestamp, it returns null for those properties.</ul>
        </blockquote>
        <h3>Example of API usage:</h3>
        <a href="/December%2015,%202015/">{{ site_url }}December 15, 2015/</a>
        <br>
        <a href="/1450137600/">{{ site_url }}1450137600/</a>
        <h3>Example output:</h3>
        <code>
            {
              "unix": 1450137600,
              "natural": "December 15, 2015"
            }
        </code>
    </br>
    </div>
</body>
<footer>
    <p>
        You can find source code of this project on <a href="https://github.com/trolleksii/timestamp-api">GitHub</a>
    </p>
</footer>
</html>
    